
:root {
    --showTime: 0.56s;
    --hideTime: 0.25s;
    --licolor: rgb(110, 110, 236);
}

.navBtn {
    width: 38px;
    height: 38px;
    position: absolute;
    background-size: contain;
    border-radius: 50%;
}

#leftNavBtn {
    top: 20px;
    left: 50px;
    background-image: url(../assets/bio.png)
}

/* 左右边栏 */
.opcontianer {
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    
    background-color:black;
    color: white;
    z-index: 100;
    box-sizing: border-box;
    padding: 1rem;
}

.opcontianer ol {
    list-style-position: inside;
    padding-left: 0.5rem;
    text-decoration-color: var(--licolor);
}

.opcontianer h1 {
    font-size: 1.5rem;
}
.opcontianer h2 {
    font-size: 1.2rem;
}

li {
    color:var(--licolor)
}
a {
    text-decoration: none;
    color: var(--licolor)
}


#leftContainer {
    left: -280px;
}

/* animate */
@keyframes leftshow {
    from {left: -280px;}
    to {left: 0px;}
}
@keyframes lefthide {
    from {left: 0px;}
    to {left: -280px;}
}
.leftshow {
    animation: leftshow var(--showTime) ease-in-out 0s 1 normal forwards;
}
.lefthide {
    animation: lefthide var(--hideTime) ease-in-out 0s 1 normal forwards;
}


@media only screen and (max-width: 600px) {
    
    .navBtn {
        display: none;
    }

    .opcontianer {
        width: 100%;
        height: fit-content;
        position: relative;
        top: 55px;
        margin-top: 5px;
        /* background-color: rgba(201, 179, 179, 1); */
    }

    #leftContainer,#rightContainer {
        left: 0;
        right: 0;
    }

}